
body {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	background: #1C2216;
	color: #B5B5B5;
	margin: 0 auto;
	width: 600px;
}

blockquote {
	margin: 0;
	padding: 1em;
	font-weight: 300;
	font-size: 1.5em;
	color: #aca9a2;
}

header {
	font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
	text-align: center;
	font-size: 3.5em;
	font-weight: 300;
	background: rgba(34,177,76,.8);/*#1EAD11;*/
	color: black;
	border-radius: 0 0 10px 10px;
	margin: 0;
}

article {
	border: 1px solid black;
	border-radius: 20px;
	margin: 1.5em;
}

article h1, article p {
	margin: 0.5em auto 0.5em 2em;
}

.react {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}